.about-all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: max-content;
  padding: 20px;
  gap: 10px;
}

.info-box {
  background: #f9f9f9; /* light background */
  border: 1px solid #ddd; /* soft border */
  border-radius: 10px; /* rounded corners */
  padding: 15px 20px; /* spacing inside */
  max-width: 400px; /* control width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* soft shadow */
  font-family: Arial, sans-serif;
  margin: 0 auto;
}

.info-box p {
  margin: 8px 0;
  font-size: 15px;
  color: black;
}

.info-box strong {
  color: #007bff; /* highlight labels in blue */
}

h2 {
  text-align: center;
  margin-top: 10px;
}

.form-dlt-btn {
  background: red;
  padding: 5px;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* Center container */
.searchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px 0; /* optional spacing */
}
.searchContainer h3 {
  text-align: center;
  
}

/* Style the input */
.searchBox {
  width: 300px; /* adjust as needed */
  padding: 8px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.highlight {
  border: 2px solid yellow;
  background-color: #fff8b3;
  transition: 0.3s ease;
}
