* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: var(--mainColor);
  width: 100%;
  padding: 5px;
}
.footer-icons .icons {
  margin-right: 2em;
  color: white;
}
.line {
  width: 30%;
  color: white;
}

hr {
  margin-bottom: 5px;
}
.privacy {
  color: white;
}

/* media quries */
@media screen and (max-width: 768px) {
  .line {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  .footer-icons .icons {
    margin-right: 1em;
    color: white;
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 568px) {
  .footer-icons .icons {
    margin-right: 1em;
    color: white;
    margin-bottom: 1em;
    font-size: 13px;
  }

  hr {
    display: none;
  }
}
